<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/Site.css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", false)

    
</body>
</html>
